<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <style>
    #app { padding: 35px; }
  </style>
</head>
<body>
<div id="app">
  <div class="mb-3">
    <div class="">
    </div>
    <div>
      <label>Q1_1: </label>
      <input type="checkbox" class="" v-model="q1_1">
      <label>Q1_2: </label>
      <input type="checkbox" class="" v-model="q1_2">
      <label>Q1_3: </label>
      <input type="checkbox" class="" v-model="q1_3">
      <label>Q1_4: </label>
      <input type="checkbox" class="" v-model="q1_4">
    </div>

    <div>
      <label>Q2_1: </label>
      <input type="checkbox" class="" v-model="q2_1">
      <label>Q2_2: </label>
      <input type="checkbox" class="" v-model="q2_2">
      <label>Q2_3: </label>
      <input type="checkbox" class="" v-model="q2_3">
      <label>Q2_4: </label>
      <input type="checkbox" class="" v-model="q2_4">
    </div>

    <div>
      <label>Q3_1: </label>
      <input type="checkbox" class="" v-model="q3_1">
      <label>Q3_2: </label>
      <input type="checkbox" class="" v-model="q3_2">
      <label>Q3_3: </label>
      <input type="checkbox" class="" v-model="q3_3">
    </div>

    <div>
      <label>Q4_1: </label>
      <input type="checkbox" class="" v-model="q4_1">
      <label>Q4_2: </label>
      <input type="checkbox" class="" v-model="q4_2">
      <label>Q4_3: </label>
      <input type="checkbox" class="" v-model="q4_3">
      <label>Q4_4: </label>
      <input type="checkbox" class="" v-model="q4_4">
      <label>Q4_5: </label>
      <input type="checkbox" class="" v-model="q4_5">
      <label>Q4_6: </label>
      <input type="checkbox" class="" v-model="q4_6">
      <label>Q4_7: </label>
      <input type="checkbox" class="" v-model="q4_7">
      <label>Q4_8: </label>
      <input type="checkbox" class="" v-model="q4_8">
    </div>

    <br>
    <hr>
    <button
        class="btn btn-outline-secondary"
        type="button"
        id="button-addon1"
        @click="setCookie()"
      >
        <a href="vue_cookie_result.html">
          Set Cookie Button
        </a>
      </button>
  </div>
</div>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script> -->
<!-- <script src="https://unpkg.com/vue-cookies@1.7.3/vue-cookies.js"></script> -->
<script src="./node_modules/vue/dist/vue.min.js"></script>
<script src="./node_modules/vue-cookies/vue-cookies.js"></script>

<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />

<script>
  vm = new Vue({
    el: '#app',
    data: {
      q1_1: false,
      q1_2: false,
      q1_3: false,
      q1_4: false,
      q2_1: false,
      q2_2: false,
      q2_3: false,
      q2_4: false,
      q3_1: false,
      q3_2: false,
      q3_3: false,
      q4_1: false,
      q4_2: false,
      q4_3: false,
      q4_4: false,
      q4_5: false,
      q4_6: false,
      q4_7: false,
      q4_8: false,
    },
    methods: {
      setCookie:function(){
        var cookieSet = { 
          q1_1:this.q1_1,
          q1_2:this.q1_2,
          q1_3:this.q1_3,
          q1_4:this.q1_4,
          q2_1:this.q2_1,
          q2_2:this.q2_2,
          q2_3:this.q2_3,
          q2_4:this.q2_4,
          q3_1:this.q3_1,
          q3_2:this.q3_2,
          q3_3:this.q3_3,
          q4_1:this.q4_1,
          q4_2:this.q4_2,
          q4_3:this.q4_3,
          q4_4:this.q4_4,
          q4_5:this.q4_5,
          q4_6:this.q4_6,
          q4_7:this.q4_7,
          q4_8:this.q4_8,
        };
        this.$cookies.config(60 * 60 * 24 * 30,'');
        this.$cookies.set('CookieValue', cookieSet);
      }
  }
});
</script>

</body>
</html>
