<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <style>
    #app { padding: 35px; }
  </style>
</head>
<body>
<div id="app">
  <div class="mb-3">
    <div class="">
    </div>
    <label>Q1: </label>
    <input type="checkbox" class="" v-model="q1">
    <input type="checkbox" class="" v-model="q2">
    <input type="checkbox" class="" v-model="q3">
    <input type="checkbox" class="" v-model="q4">
    <input type="checkbox" class="" v-model="q5">
    <input type="checkbox" class="" v-model="q6">
    <input type="checkbox" class="" v-model="q7">
    <input type="checkbox" class="" v-model="q8">
    <input type="checkbox" class="" v-model="q9">
    <input type="checkbox" class="" v-model="q10">
    <input type="checkbox" class="" v-model="q11">
    <input type="checkbox" class="" v-model="q12">
    <input type="checkbox" class="" v-model="q13">
    <input type="checkbox" class="" v-model="q14">
    <input type="checkbox" class="" v-model="q15">
    <input type="checkbox" class="" v-model="q16">
    <input type="checkbox" class="" v-model="q17">
    <input type="checkbox" class="" v-model="q18">
    <input type="checkbox" class="" v-model="q19">

    <br>
    <hr>
    <button
        class="btn btn-outline-secondary"
        type="button"
        id="button-addon1"
        @click="setCookie()"
      >
        <a href="vue_cookie_result.html">
          Set Cookie Button
        </a>
      </button>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
<script src="https://unpkg.com/vue-cookies@1.7.3/vue-cookies.js"></script>
<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />

<script>
  vm = new Vue({
    el: '#app',
    data: {
      q1: false,
      q2: false,
      q3: false,
      q4: false,
      q5: false,
      q6: false,
      q7: false,
      q8: false,
      q9: false,
      q10: false,
      q11: false,
      q12: false,
      q13: false,
      q14: false,
      q15: false,
      q16: false,
      q17: false,
      q18: false,
      q19: false,
    },
    methods: {
      setCookie:function(){
        var cookieSet = { 
          q1:this.q1,
          q2:this.q2,
          q3:this.q3,
          q4:this.q4,
          q5:this.q5,
          q6:this.q6,
          q7:this.q7,
          q8:this.q8,
          q9:this.q9,
          q10:this.q10,
          q11:this.q11,
          q12:this.q12,
          q13:this.q13,
          q14:this.q14,
          q15:this.q15,
          q16:this.q16,
          q17:this.q17,
          q18:this.q18,
          q19:this.q19,
        };
        this.$cookies.config(60 * 60 * 24 * 30,'');
        this.$cookies.set('CookieValue', cookieSet);
      }
  }
});
</script>

</body>
</html>
